// =====================================
// WRAPPING MIXINS
// to contain contents on larger screens
// =====================================

@mixin large-wrapping {
  max-width: $large-container-width;
  margin: 0 auto;
}

// =================
// BOX-SHADOW MIXINS
// =================
@mixin medium-box-shadow {
  -webkit-box-shadow: 0 0.75rem 0.55rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.75rem 0.55rem rgba(0, 0, 0, 0.25);
}
