.p-hero-banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  min-height: 93vh;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &__content {
    position: relative;
    grid-column: span 4;

    min-width: 424px;
    padding: 3rem 4rem;

    color: white;

    background: $neutral-800;
    text-align: left;

    &::after {
      position: absolute;
      top: 0;
      right: -5rem;

      width: 100%;
      height: 100%;

      content: "";

      background: $neutral-800;
    }

    > * {
      position: relative;
      z-index: 1000;
    }
  }

  &__headline {
    font-size: 6rem;
    font-weight: 400;
    white-space: nowrap;
  }

  &__text {
    width: 146%;
    margin-top: 3.5rem;
    padding: 0;

    font-weight: 400;
  }

  .c-btn--cta {
    margin: 3.5rem 0 0 0;
    padding: 1rem 1.5rem;
    outline: none;

    font-size: $h5-size;
  }

  &__img {
    grid-column: span 8;

    img {
      display: block;

      width: 100%;
      height: 100%;
      padding: 0;
    }
  }

  > .c-btn--cta {
    display: none;
  }
}

/* =============
   MEDIA QUERIES
   ============= */

@media screen and (max-width: $medium-breakpoint) {
  .p-hero-banner {
    display: block;

    box-shadow: unset;

    &__content {
      padding: 1.5rem;

      color: $neutral-900;

      background: white;

      &::after {
        content: unset;
      }

      .c-btn--cta {
        display: none;
      }
    }

    &__headline {
      font-size: 4.5rem;
      white-space: normal;
    }

    &__text {
      width: unset;

      font-size: $h5-size;
    }

    &__img img {
      margin-top: 2.5rem;
      border-radius: 0.5rem;
    }

    > .c-btn--cta {
      display: block;

      margin: 2rem auto 0.5rem;
      padding: 0.75rem 2rem;
    }
  }
}
