footer {
  z-index: $z-header-footer;
  
  padding: 5rem 0 3rem 0;

  color: $primary-500;
  font-family: $font-secondary;
  font-weight: 500;
}

@media (max-width: $small-breakpoint - 1) {
  footer {
    padding: 1.5rem 0 3rem 0;

    text-align: center;
  }
}