header {
  display: flex;
  justify-content: space-between;

  z-index: $z-header-footer;

  padding: 3rem 5rem 4rem 5rem;

  img {
    height: 3rem;
  }

  nav {
    display: flex;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    font-size: $h6-size;

    &:hover {
      background: $primary-500;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

#hamburger-icon {
  display: none;
}

@media (max-width: $medium-breakpoint - 1) {
  header {
    padding: 2rem 0 3rem 0;

    img {
      height: 2.5rem;
    }

    li {
      margin: 0.25rem 0;

      font-size: txt-size;
    }
  }
}

@media (max-width: $small-breakpoint - 1) {
  header {
    padding: 1.5rem 0 1rem 0;

    img {
      padding-top: 0.5rem;
      height: 1.5rem;
    }

    ul {
      display: none;
    }
  }

  #hamburger-icon {
    display: inline-block;

    padding: 0.5rem;

    color: $primary-500;
  }
}
