header {
  display: flex;
  justify-content: space-between;

  z-index: $z-header-footer;

  padding: 3rem 5rem 4rem 5rem;

  img {
    height: 3rem;
  }

  nav {
    display: flex;
  }

  ul {
    display: flex;

    font-size: $h6-size;
  }

  li {
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    &:hover {
      background: $primary-500;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

#hamburger-icon {
  display: none;
}

@media (max-width: $medium-breakpoint - 1) {
  header {
    padding: 2rem 0 3rem 0;

    img {
      height: 2.5rem;
    }

    li {
      margin: 0.25rem 0;

      font-size: txt-size;
    }
  }
}

@media (max-width: $small-breakpoint - 1) {
  header {
    padding: 1.5rem 0 1rem 0;

    img {
      padding-top: 0.5rem;
      height: 2rem;
    }

    nav {
      position: relative;
    }

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      z-index: $z-header-footer;

      width: 14rem;
      border: 0.125rem solid $primary-500;
      border-radius: 0.75rem;

      background: white;
    }
  }

  #hamburger-icon {
    display: inline-block;
    z-index: $z-header-footer + 100;

    padding: 0.75rem;
    border-radius: 0.5rem;

    color: $primary-500;
    font-size: 1.5rem;

    transition: transform 150ms;
  }

  nav.side-nav {
    ul {
      display: flex;

      padding: 0.25rem 0.5rem;
      @include medium-box-shadow;

      font-size: $txt-size;
    }

    #hamburger-icon {
      color: white;

      background: $primary-500;

      transform: translate(-1rem, 1rem);
    }
  }
}
