header {
  margin: 3.5%;
  overflow: hidden;

  .l-header__logo {
    float: left;
  }

  .l-header__navbar {
    float: right;
  }

  ul {
    display: flex;
  }

  a {
    display: block;
    float: left;

    margin: 0.25rem;
    padding: 1rem;

    color: $neutral-900;
    font-family: $font-nav;
    font-size: $h6-size;
    text-align: center;
    text-decoration: none;

    &:active,
    &:hover {
      border-radius: 1rem;

      color: white;

      background: $primary-500;
    }
  }

  #menu-icon {
    display: none;
  }
}

/* =============
   MEDIA QUERIES
   ============= */

@media screen and (max-width: $medium-breakpoint) {
  header {
    a {
      display: none;
    }

    #menu-icon {
      display: block;
      float: right;
    }

    &.responsive {
      position: relative;

      a {
        display: block;
        float: none;

        text-align: left;
      }

      ul {
        flex-direction: column;
      }

      #menu-icon {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  header {
    a {
      display: none;
    }

    #menu-icon {
      display: block;
      float: right;

      margin-top: -1rem;
    }
  }
}
