.c-btn {
  min-width: 12rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;

  font-size: $h5-size;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.c-btn--cta {
  color: white;

  background: $primary-500;

  transition: background-color 200ms;

  &:hover {
    background: $secondary-500;
  }
}