$open-modal-duration: 800ms;
$modal-height: 56.5rem;

@keyframes open-modal {
  from {
    top: -20rem;

    opacity: 0;
  }
  to {
    top: 0;

    opacity: 1;
  }
}

.c-modal__background {
  display: none;
  position: fixed;
  top: 0;
  z-index: $z-modal;

  width: 100%;
  height: 100%;
  overflow: auto;

  background: $modal-background;
}

.c-modal {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  max-width: 34rem;
  height: $modal-height;
  margin: 5rem auto;
  padding: 2.5rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  @include medium-box-shadow;
  overflow: hidden;

  color: white;

  background: $neutral-800;

  animation: open-modal $open-modal-duration forwards;

  #close-icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      left: 1rem;

      width: 0.125rem;
      height: 1.5rem;

      content: " ";

      background: white;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &--signin-form,
  &--signin-success {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }

  &--signin-form {
    margin-bottom: 3rem;
  }

  &--signin-success {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 1rem 4rem;

      font-size: $h2-size;
      text-align: center;
    }

    .c-modal__button-box {
      transform: translateY(16rem);
    }
  }

  input {
    display: block;

    width: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="date"],
  input[type="email"],
  input[type="number"],
  input[type="text"] {
    padding: 1rem;
    border: 0.125rem solid white;
    border-radius: 0.5rem;

    font-size: $txt-size;

    &:focus {
      outline: none;
    }
  }

  label,
  legend {
    display: inline-block;

    margin: 0.25rem 0 0.75rem 0;

    cursor: default;
  }

  &__form-error,
  &__optins,
  &__radio-btns {
    font-family: $font-secondary;
    font-weight: 300;
  }

  &__form-error {
    margin: 0.25rem 0 0.5rem 0;

    color: $neutral-800;
    font-size: $xs-size;

    transition: color 200ms;

    &.no-mt {
      margin: 0rem 0 0.875rem 0;
    }
  }

  &__checkbox,
  &__radio-btn {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;

    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid $neutral-200;
    border-radius: 50%;

    &::after {
      position: absolute;

      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;

      content: "";

      background: $success-500;
      opacity: 0;

      transform: translate(-1.625rem, 0.125rem);

      transition: opacity 300ms;
    }
  }

  &__checkbox {
    border-radius: 0.25rem;

    background: $neutral-200;

    &::after {
      width: 0.75rem;
      height: 0.5rem;
      border: 0.125rem solid transparent;
      border-radius: 0.125rem;
      border-bottom-color: white;
      border-left-color: white;

      background: transparent;

      transform: translate(-1.625rem, 0.125rem) rotate(-55deg);
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    & + label {
      position: relative;

      margin: 0 3rem 0.5rem 0;

      text-indent: 1.75rem;
    }

    &:checked + label .c-modal__checkbox {
      background: $success-500;
    }

    &:checked + label .c-modal__checkbox,
    &:checked + label .c-modal__radio-btn {
      border-color: $success-500;
    }

    &:checked + label .c-modal__checkbox::after,
    &:checked + label .c-modal__radio-btn::after {
      opacity: 1;
    }
  }

  &__button-box {
    display: flex;
  }

  button {
    margin: 1.5rem auto 1rem auto;
  }
}
