/* =======================
   RAW TAGS DEFAULT STYLES
   ======================= */

html {
  box-sizing: border-box;

  color: $neutral-900;
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 300;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include large-wrapping;
  padding: 0 2.5rem;

  @media (max-width: $small-breakpoint - 1) {
    @include small-wrapping;
    padding: 0 1.5rem;
  }
}

a {
  color: $neutral-900;
  text-decoration: none;

  &:hover {
    color: $neutral-900;
  }
}

fieldset {
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
