html {
  box-sizing: border-box;

  color: $neutral-900;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;

  max-width: 1300px;
  margin: 0 auto;

  font-family: $font-default;
  font-size: $txt-size;
}

abbr[title] {
  text-decoration: none;
}

img {
  padding-right: 1rem;
}

main {
  margin: 0.25rem 1.25rem 1rem;
  padding: 0.5vw 2vw 0 2vw;
  border-radius: 2rem;

  font-size: $h4-size;
  font-weight: 700;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
